.button {
  background: linear-gradient(360deg, #235d5a 0%, #16a7a2 100%);
  border-radius: 50px;
  padding: 4px 20px;
  color: white;
  font-size: 18px;
  font-family: "visbyBold", sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}
