.sectionStats {
  padding: 15px 45px 35px;
  margin: 50px auto 30px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.04),
    0px 8px 24px -4px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: fit-content;
}

.sectionStats {
  display: flex;
  align-items: center;
  grid-gap: 65px;
}

@media screen and (max-width: 720px) {
  .sectionStats {
    flex-direction: column;
    grid-gap: 25px;
  }
}
