.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #666;
  width: 25%;
}

.benefitIconContainer {
  height: 100px;
}

.benefitTitle {
  font-size: 20px;
  line-height: 1.3;
  font-family: "visbyBold", sans-serif;
}

.benefitDescription {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 775px) {
  .benefit {
    width: 50%;
  }
}

@media screen and (max-width: 430px) {
  .benefit {
    width: 100%;
  }
}
