html,
body {
  background: #16a7a2;
}

.App {
  text-align: center;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.logo__container {
  max-width: 600px;
  width: 100%;
  margin: 80px auto 40px;
}

.title {
  color: #16a7a2;
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

p {
  color: #9d9d9d;
}

.details__container {
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto;
  max-width: 320px;
}

.details__row {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.details__row.details__row--icon-top {
  align-items: flex-start;
}

.details__icon {
  width: 30px;
  min-width: 30px;
  margin-right: 10px;
  font-size: 0;
  color: #16a7a2;
}

.details__icon path {
  color: #16a7a2 !important;
}

.details__value {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
